.read-the-docs {
  color: #888;
}

#cf {
  position:relative;
  height:500px;
  width:1400px;
  margin:0 auto;
}

#cf img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: fade 24s infinite;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  animation: fade 24s infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cf img.primera {
  animation-delay: 16s;
}
#cf img.segunda {
  animation-delay: 8s;
}
#cf img.tercera {
  animation-delay: 0s;
}

.container {
  display: flex;
  align-items: center;
  padding: 25px 60px 50px 60px;
}

.description {
  color: #f6f6f6;
  text-align: justify;
  margin-right: 3%;
  margin-left: 3%;
  display: block;
  width: 500px;
}