.ejercitos-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.jugador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.jugador {
    font-weight: bold;
}

.ejercito-amarillo,
.ejercito-rojo,
.ejercito-azul,
.ejercito-gris {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.ejercito-1 {
    position: absolute;
    top: 50%;
    left: 67%;
    width: 2%;
    height: auto;
}

.amarillo {
    position: absolute;
    top: 50%;
    left: 17%;
    width: 2%;
    height: auto;
}

.rojo {
    position: absolute;
    top: 50%;
    left: 34%;
    width: 2%;
    height: auto;
}

.azul {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 2%;
    height: auto;
}

.gris {
    position: absolute;
    top: 50%;
    left: 67%;
    width: 2%;
    height: auto;
}

.ejercito-1:hover,
.ejercito-2:hover,
.ejercito-3:hover,
.ejercito-4:hover,
.ejercito-5:hover,
.ejercito-6:hover,
.ejercito-7:hover,
.ejercito-8:hover,
.ejercito-9:hover,
.ejercito-10:hover,
.ejercito-11:hover,
.ejercito-12:hover,
.ejercito-13:hover,
.ejercito-14:hover,
.ejercito-15:hover,
.ejercito-16:hover,
.ejercito-17:hover,
.ejercito-18:hover,
.ejercito-19:hover,
.ejercito-20:hover,
.ejercito-21:hover,
.ejercito-22:hover,
.ejercito-23:hover,
.ejercito-24:hover,
.ejercito-25:hover,
.ejercito-26:hover,
.ejercito-27:hover,
.ejercito-28:hover,
.ejercito-29:hover,
.ejercito-30:hover,
.ejercito-31:hover,
.ejercito-32:hover,
.ejercito-33:hover,
.ejercito-34:hover,
.ejercito-35:hover,
.ejercito-36:hover,
.ejercito-37:hover,
.ejercito-38:hover,
.ejercito-39:hover,
.ejercito-40:hover,
.ejercito-41:hover {
    transform: scale(1.5);
}


.yo {
    color: #0fc9f1;
    font-weight: bold;
    display: inline-block;
    /* Muestra los elementos en línea uno al lado del otro */
    margin-right: 70px;
    /* Espacio entre los jugadores (puedes ajustarlo según tu preferencia) */
}