.two-column {
  display:flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  padding: 25px 60px 50px 60px;
}
.two-column div {
  flex:1;
  color: #f6f6f6;
  display:flex;
  flex-direction:column-reverse;
  justify-content:flex-end;
}

img {
  display: block;
  max-width: 90%;
}

.container {
  display: flex;
  align-items: center;
  padding: 25px 60px 50px 60px;
  font-size: 100%;
}


.img2 {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .two-column, .two-column div {
    flex-direction:column;
  }
}

h2 {
    text-align: center;
    color: #f6f6f6;
}

p {
    text-align: center;
    color: #f6f6f6;
    padding-left: 30px;
    padding-right: 30px;
}

.read-the-docs {
  color: #bfbfbf;
}

.description {
    color: #f6f6f6;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    display: block;
    font-size: 100%;
}