.read-the-docs {
  color: #888;
}

.partida {
  text-align: center;
  color: #0fc9f1;
}

.image-container {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
  margin-right: 0; /* Cambia el valor para ajustar el espacio entre la imagen y el contenido a la derecha */
  margin-bottom: 20px;
  height: calc(100% * (758 / 800)); /* Cambia el valor para ajustar la proporción de la imagen */
}

.image1 {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 190px;
}

.image2 {
  position: absolute;
  width: 2%;
  height: auto;
  top: 22%;
  left: 14.5%;
  animation-name: animacion_image2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes animacion_image2 {
  0% {
  }
  100% {
    top: 14%;
  }
}

button {
  position: absolute;
  top: 540px;
  left: 1015px;
}

.image3 {
  position: absolute;
  top: 60%; 
  left: 30%;
  width: 2%;
  height: auto;
}

.image4 {
  position: absolute;
  top: 11.5%; 
  left: 21%;
  width: 2%;
  height: auto;
}

.image5 {
  position: absolute;
  top: 0.1%; 
  left: 37%;
  width: 2%;
  height: auto;
}

.image6 {
  position: absolute;
  width: 2%;
  height: auto;
  top: 60%;
  left: 28%;
  animation-name: animacion_image6;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes animacion_image6 {
  0% {
  }
  100% {
    top: 39%;
    left: 46.5%;
  }
}

.popup-container {
  margin: 300px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  height: 18%;
  width: 30%;
  position: relative;
}

.popup-container h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup-container .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-container .close:hover {
  color: #06D85F;
}

.popup-container .content {
  max-height: 100%;
  overflow: auto;
}

.close-button {
  background-color: #032f40;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 115px;
  left: 350px;
}

.close-button:hover {
  background-color: #032f40c9;
}

.image7 {
  position: absolute;
  width: 2%;
  height: auto;
  top: 56%;
  left: 28%;
  animation-name: animacion_image7;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes animacion_image7 {
  0% {
  }
  100% {
    top: 39%;
    left: 44%;
  }
}

.image8 {
  position: absolute;
  top: 48%; 
  left: 24%;
  width: 2%;
  height: auto;
}

.image9 {
  position: absolute;
  top: 38%; 
  left: 46%;
  width: 2%;
  height: auto;
  animation-name: fadeOut9;
  animation-duration: 1s;
  animation-delay: 7s; /* retraso de 2 segundos para que la animación se ejecute después de la animación de movimiento */
  animation-fill-mode: forwards; /* La imagen permanecerá invisible después de que termine la animación */
}

@keyframes fadeOut9 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.image10 {
  position: absolute;
  top: 24%; 
  left: 21%;
  width: 2%;
  height: auto;
}
.image11 {
  position: absolute;
  top: 6%; 
  left: 68%;
  width: 2%;
  height: auto;
}
.image12 {
  position: absolute;
  top: 76%; 
  left: 26%;
  width: 2%;
  height: auto;
}
.image13 {
  position: absolute;
  top: 6%; 
  left: 18%;
  width: 2%;
  height: auto;
}
.image14 {
  position: absolute;
  top: 8.5%; 
  left: 64%;
  width: 2%;
  height: auto;
}
.image15 {
  position: absolute;
  top:32%; 
  left: 52%;
  width: 2%;
  height: auto;
}
.image16 {
  position: absolute;
  top: 70%; 
  left: 88%;
  width: 2%;
  height: auto;
}
.image17 {
  position: absolute;
  top: 68%; 
  left: 86%;
  width: 2%;
  height: auto;
}
.image18 {
  position: absolute;
  top: 12%; 
  left: 55%;
  width: 2%;
  height: auto;
}
.image19 {
  position: absolute;
  top: 12%; 
  left: 58%;
  width: 2%;
  height: auto;
}
.image20 {
  position: absolute;
  top: 6%; 
  left: 11%;
  width: 2%;
  height: auto;
}
.image21 {
  position: absolute;
  top: 22%; 
  left: 17%;
  width: 2%;
  height: auto;
}
.image22 {
  position: absolute;
  top: 13%; 
  left: 17%;
  width: 2%;
  height: auto;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-delay: 3s; /* retraso de 2 segundos para que la animación se ejecute después de la animación de movimiento */
  animation-fill-mode: forwards; /* La imagen permanecerá invisible después de que termine la animación */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

h4 {
  color: white;
}

.jugador {
  color: white;
  display: inline-block;
  /* Muestra los elementos en línea uno al lado del otro */
  margin-right: 70px;
  /* Espacio entre los jugadores (puedes ajustarlo según tu preferencia) */
}

.yo {
  color: #0fc9f1;
  display: inline-block;
  /* Muestra los elementos en línea uno al lado del otro */
  margin-right: 70px;
  /* Espacio entre los jugadores (puedes ajustarlo según tu preferencia) */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 10px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-jugadores {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.dice-image {
  margin-top: 35px;
  max-width: 25%;
  height: auto;
  float: left;
  margin-left: 5%;
}

.dado-container {
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.button-container button {
  margin-top: 80px;
  display: flex;
  margin-left: 170px;
  margin-right: 100px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 5;
}

.div2 {
  grid-area: 1 / 5 / 2 / 6;
}

.div3 {
  grid-area: 2 / 5 / 3 / 6;
}